:root {
    --color-primary: #60a5fa;
    --color-primary--dark: #2563eb;
    --color-secondary: #fb923c;
    --color-secondary--dark: #ea580c;
    --color-accent: #c084fc;
    --color-white: #FFFFFF;
    --color-grey-200: #E5E5E5;
    --color-grey-300: #D4D4D4;
    --color-grey-400: #A3A3A3;
    --color-grey-500: #737373;
    --color-black: #333333;

    --color-danger: #dc2626;
    --color-warning: #facc15;
    --color-success: #16a34a;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Heebo', sans-serif;

    --text-2xs: 0.422rem;
    --text-xs: 0.563rem;
    --text-sm: 0.75rem;
    --text-md: 1rem;
    --text-lg: 1.333rem;
    --text-xl: 1.777rem;
    --text-2xl: 2.369rem;
    --text-3xl: 3.157rem;
    --text-4xl: 4.209rem;

    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.5rem;
    --size-6: 2rem;
    --size-7: 3rem;
    --size-8: 4rem;
    --size-9: 6rem;
    --size-10: 8rem;
}
