.template-sections {
    border: 2px solid #333333;
    padding: 0.5rem;

    .template-section {
        display: flex;
        margin: 0.5rem 0;
    }

    .template-container {
        border: 1px solid #737373;
        padding: 0.25rem;
        margin: 0 0.25rem;
        width: 100%;
        cursor: pointer;
        text-align: left;

        &:hover {
            background-color: var(--color-grey-200);
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        p {
            font-size: var(--text-sm);
            margin: var(--size-1) 0;
        }
    }

    .template-container-1\/3 {
        width: calc(100% / 3);
    }
}
