.button {
    padding: var(--size-2) var(--size-7);
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;

    &.primary {
        background-color: var(--color-primary);

        &:hover {
            background-color: var(--color-primary--dark);
        }
    }

    &.primary-outlined {
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
        transition: all 150ms ease-out;

        &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }

    &.danger-outlined {
        border: 2px solid var(--color-danger);
        color: var(--color-danger);
        transition: all 150ms ease-out;

        &:hover {
            background-color: var(--color-danger);
            color: var(--color-white);
        }
    }
}

.button-group {
    display: flex;
    align-items: center;

    &.justify-end {
        justify-content: flex-end;
    }

    > * {
        margin-left: var(--size-2);
        margin-right: var(--size-2);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
