.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

// Top & Bottom
.my-4 {
    margin-top: var(--size-4);
    margin-bottom: var(--size-4);
}

// Bottom
.mb-2 {
    margin-bottom: var(--size-2);
}

// Top
.mt-0 {
    margin-top: 0;
}
