// X axis
.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-1 {
    padding-left: var(--size-1);
    padding-right: var(--size-1);
}

.px-2 {
    padding-left: var(--size-2);
    padding-right: var(--size-2);
}

.px-3 {
    padding-left: var(--size-3);
    padding-right: var(--size-3);
}

.px-4 {
    padding-left: var(--size-4);
    padding-right: var(--size-4);
}

.px-5 {
    padding-left: var(--size-5);
    padding-right: var(--size-5);
}

.px-6 {
    padding-left: var(--size-6);
    padding-right: var(--size-6);
}

// Y axis
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding-top: var(--size-1);
    padding-bottom: var(--size-1);
}

.py-2 {
    padding-top: var(--size-2);
    padding-bottom: var(--size-2);
}

.py-3 {
    padding-top: var(--size-3);
    padding-bottom: var(--size-3);
}

.py-4 {
    padding-top: var(--size-4);
    padding-bottom: var(--size-4);
}

.py-5 {
    padding-top: var(--size-5);
    padding-bottom: var(--size-5);
}

.py-6 {
    padding-top: var(--size-6);
    padding-bottom: var(--size-6);
}

.py-7 {
    padding-top: var(--size-7);
    padding-bottom: var(--size-7);
}

.py-8 {
    padding-top: var(--size-8);
    padding-bottom: var(--size-8);
}

.py-9 {
    padding-top: var(--size-9);
    padding-bottom: var(--size-9);
}

.py-10 {
    padding-top: var(--size-10);
    padding-bottom: var(--size-10);
}
