@use "../abstracts/mixins" as *;

.container .row {
    margin: 0 calc(-1 * var(--size-4));
}

.row {
    display: flex;
    flex-wrap: wrap;

    &.justify-center {
        justify-content: center;
    }

    &.grid {
        > .col {
            padding-top: var(--size-4);
            padding-bottom: var(--size-4);
        }
    }

    .col {
        width: 100%;
        padding: 0 var(--size-4);

        &.small-6 {
            width: calc(100% / 12 * 6);
        }

        &.medium-2 {
            @include screen-medium {
                width: calc(100% / 12 * 2);
            }
        }

        &.medium-3 {
            @include screen-medium {
                width: calc(100% / 12 * 3);
            }
        }

        &.medium-4 {
            @include screen-medium {
                width: calc(100% / 12 * 4);
            }
        }

        &.medium-6 {
            @include screen-medium {
                width: calc(100% / 12 * 6);
            }
        }

        &.medium-8 {
            @include screen-medium {
                width: calc(100% / 12 * 8);
            }
        }

        &.large-6 {
            @include screen-large {
                width: calc(100% / 12 * 6);
            }
        }
    }
}
