.form {
    width: 100%;

    .input {
        margin-bottom: var(--size-4);

        label {
            display: block;
        }

        input {
            width: 100%;
        }

        textarea {
            width: 100%;
        }
    }

    .inline-input {
        margin-bottom: var(--size-4);
        display: flex;
        align-items: center;

        label {
            margin-left: var(--size-2);
        }
    }
}
