body {
    --sidebar-width: 18.75em;
}

.content {
    margin-left: var(--sidebar-width);
    overflow: auto;
}

.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    height: 100%;
    left: 0;
    border-right: thin solid var(--color-grey-300);

    .sidebar-nav {
        list-style: none;

        li {
            line-height: 2;
        }
    }
}
