.table {
    border-collapse: collapse;
    border: thin solid var(--color-grey-400);
    width: 100%;

    td, th {
        padding: var(--size-2) var(--size-4);
        border: thin solid var(--color-grey-300);
    }

    th {
        text-align: left;
        background-color: var(--color-grey-200);
    }
}
